<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
      <title>{{ title }} : Radek Stepan</title>
    {% else %}
      <title>Radek Stepan | Front-End Engineer</title>
    {% endif %}

    <script type="text/javascript" src="/assets/vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/moment-2.8.4.min.js"></script>
    <script type="text/javascript">
      $(function() {
        {% include "functions.js" %}
      });
    </script>
    <link rel="stylesheet" href="/assets/style.css"/>
  </head>
  <body>
    <div id="body">
      <header id="header">
        <div class="wrapper">
          <a id="home" href="/">Radek Stepan</a>
          <ul id="links">
            <li><a href="https://github.com/radekstepan" class="icon-github" target="_blank">GitHub</a></li>
            <li><a href="http://www.behance.net/radekstepan" class="icon-behance" target="_blank">Behance</a></li>
            <li><a href="http://radekstepan.com/resume" class="icon-file-pdf" target="_blank">CV</a></li>
            <li><a href="https://ca.linkedin.com/pub/radek-stepan/11/a54/66a" class="icon-linkedin" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
      </header>

      <main id="content" class="wrapper">
        {% block content %}{% endblock content %}
      </main>

      <footer id="footer">
        <div class="wrapper">
          <h4>Contact Radek</h4>
          <p>Being <span class="open">open</span> for remote work opportunities, you can connect with me via LinkedIn or GitHub. The latter reveals my email address.</p>
        </div>
      </footer>

      <div id="copy">
        <div class="wrapper">
          &copy; 2015 Radek Stepan. All rights reserved.
        </div>
      </div>

    </div>

    <div id="search" style="opacity:0">
      <div class="wrapper">
        <div class="close"></div>
        <p>Use the field below to search the site &hellip;</p>
        <div class="input">
          <input type="text" placeholder="Enter keyword...">
        </div>
      </div>
    </div>
  </body>
</html>
