colors = (curious #3399CC) (turq #33CCCC) (strikemaster #996699) (crail #C24747) (terracotta #E2674A) (golden #FFCC66) (york #99CC99) (patina #669999) (hopbush #CC6699) (sea #339966)   (kimberly #666699)

render(colors)
    for color in colors
        &.{color[0]}
            for percentage, i in 0% 9% 18% 27% 36% 45% 54% 63%
                &.variant-{i}
                    bg = darken(color[1], percentage)
                    background: bg
                    if light(darken(bg, 10%))
                        color: #333

.style
    render(colors)

@font-face
    font-family: 'Lato'
    font-style: normal
    font-weight: 100
    src: local('Lato Hairline'), local('Lato-Hairline'), url('../fonts/Lato-Hairline.woff') format('woff')

@font-face
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/Lato-Regular.woff') format('woff')

@font-face
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/Lato-Bold.woff') format('woff')

@font-face
    font-family: 'Lato'
    font-style: normal
    font-weight: 900
    src: local('Lato Black'), local('Lato-Black'), url('../fonts/Lato-Black.woff') format('woff')

@font-face
    font-family: 'Entypo'
    font-style: normal
    font-weight: 400
    src: url('../fonts/Entypo.woff') format('woff'),
    url('../fonts/Entypo.eot') format('eot'),
    url('../fonts/Entypo.ttf') format('truetype'),
    url('../fonts/Entypo.svg') format('svg')

@font-face
    font-family: 'EntypoSocial'
    font-style: normal
    font-weight: 400
    src: url('../fonts/EntypoSocial.woff') format('woff'),
    url('../fonts/EntypoSocial.eot') format('eot'),
    url('../fonts/EntypoSocial.ttf') format('truetype'),
    url('../fonts/EntypoSocial.svg') format('svg')

html height: 100% font-size: 100%

*,
*:after,
*:before
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 0
    margin: 0

.clearfix
    *zoom: 1

    &:before, &:after
        content: " "
        display: table
    &:after
        clear: both

body
    font-family: 'Lato', Calibri, Arial, sans-serif
    background: #f9f9f9
    font-weight: 400
    font-size: 1em
    color: #333
    overflow: scroll
    overflow-x: hidden
    margin: 0

a
    cursor: pointer
    color: #555
    text-decoration: none

.main
    width: 90%
    max-width: 76em
    margin: 0 auto
    padding: 0 1.875em 3.125em 1.875em

.container
    width: 100%
    position: relative

    > header
        width: 90%
        max-width: 76em
        margin: 0 auto
        padding: 1.875em


        h1
            font-size: 2.125em
            line-height: 1.3
            margin: 0
            font-weight: 700
            color: #333
            float: left

            span
                display: block
                font-size: 65%
                font-weight: 300

.page-top
    line-height: 3.5
    font-size: 0.688em
    background: url('../img/irongrip.png')
    text-transform: uppercase
    z-index: 9999
    position: relative

    a
        padding: 0 1em
        letter-spacing: 0.1em
        color: #FFF
        display: inline-block


        &:hover
            background: rgba(255,255,255,0.1)

    span.right
        float: right

        a
            float: left
            display: block

#categories
    float: right
    padding-top: 0.625em

    a
        display: inline-block
        margin: 0.625em
        color: #666
        font-weight: 700
        font-size: 90%
        line-height: 2
        border-bottom: 4px solid transparent

        &:hover
            color: #000
            border-color: #000

        &.current, &.current:hover
            color: #aaa
            border-color: #aaa

.support-note
    clear: both
    
    span
        color: #ac375d
        display: none
        font-weight: bold
        text-align: center
        padding: 0.313em 0

.rb-grid
    list-style: none
    text-align: center
    margin: 0 auto

    li
        width: 21%
        height: 5em
        margin: 0.5%
        background: #8CC7DF
        color: #fff
        display: block
        float: left
        padding: 1em
        cursor: pointer
        position: relative

        > a
            background: inherit
            text-decoration: none

        &.disabled
            cursor: default

        &.span-2
            width: 38%

        &.span-4
            width: 76%

        span.title
            display: block
            margin: 0 0 0.2em 0
            font-size: 2em
            font-weight: 400
            opacity: 0.7
            -webkit-transition: opacity 0.3s ease-in-out
            -moz-transition: opacity 0.3s ease-in-out
            transition: opacity 0.3s ease-in-out

        span.subtitle
            display: block
            margin: 0
            font-size: 0.8em
            font-weight: 400
            opacity: 0.8

        &[class^="icon-"]:before, &[class*=" icon-"]:before
            font-size: 10em
            position: absolute
            display: block
            width: 100%
            height: 100%
            top: 0
            left: 0
            line-height: 3
            opacity: 0.4
            text-align: right
            pointer-events: none
        
        &:hover span.title
            opacity: 1

.rb-overlay
    opacity: 0
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: inherit
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease, clip 0.4s ease
    -moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease, clip 0.4s ease
    transition: opacity 0.4s ease, transform 0.4s ease, clip 0.4s ease
    z-index: -1
    pointer-events: none
    cursor: default

.rb-close
    position: absolute
    top: 0.4em
    right: 0.4em
    width: 2em
    height: 2em
    text-indent: -9000px
    cursor: pointer
    z-index: 1000

    &::before
        content: 'x'
        font-weight: 100
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        font-size: 3em
        line-height: 0.6
        text-align: center
        text-indent: 0px

.rb-content
    width: 100%
    height: 100%
    text-align: left
    color: #FFF

    .wrap
        width: 50%
        margin: 4em
        padding: 4em
        background: rgba(0,0,0,0.8)

    .scroll-pane
        height: 10em

    h3
        font-size: 4em
        font-weight: 700
        margin: 0 0 0.5em 0

    a
        color: #FFF
        font-size: 1.5em

        &.github
            text-align: middle

            &:before
                font-family: "EntypoSocial"
                content: "\f300"
                font-size: 2em
                margin-right: 5px

    img
        width: 100%
        position: absolute
        top: 0
        left: 0
        opacity: 0.2
        z-index: -1

    [class^="icon-"]:before
        font-size: 2.5em
        font-weight: normal

// jScrollPane.
.jspContainer
    overflow: hidden
    position: relative

    .jspPane
        position: absolute
        width: 100% !important
        left: 0 !important

        > *
            padding-right: 23px

    &:hover .jspVerticalBar
        opacity: 1

    .jspVerticalBar
        position: absolute
        top: 0px
        right: 1%
        width: 9px
        height: 100%
        opacity: 0
        -webkit-transition: opacity 0.2s linear

        .jspCap
            height: 5px
            display: block

        .jspTrack
            background: rgba(242,242,242,0.5)
            box-shadow: inset 0 0 1px rgba(0,0,0,0.1), inset 1px 0 4px rgba(0,0,0,0.05)
            border-radius: 10px
            position: relative

            .jspDrag
                background: #fff
                position: relative
                box-shadow: inset -1px 0 8px rgba(0,0,0,0.05)
                top: 0
                left: 0
                border-radius: 5px
                border: 1px solid #f0f0f0
                cursor: pointer

    .jspCorner
        background: #fff
        float: left
        height: 100%