.style.curious.variant-0 {
  background: #39c;
}
.style.curious.variant-1 {
  background: #2e8bba;
}
.style.curious.variant-2 {
  background: #2a7da7;
}
.style.curious.variant-3 {
  background: #257095;
}
.style.curious.variant-4 {
  background: #216283;
}
.style.curious.variant-5 {
  background: #1c5470;
}
.style.curious.variant-6 {
  background: #17465e;
}
.style.curious.variant-7 {
  background: #13394b;
}
.style.turq.variant-0 {
  background: #3cc;
}
.style.turq.variant-1 {
  background: #2ebaba;
}
.style.turq.variant-2 {
  background: #2aa7a7;
}
.style.turq.variant-3 {
  background: #259595;
}
.style.turq.variant-4 {
  background: #218383;
}
.style.turq.variant-5 {
  background: #1c7070;
}
.style.turq.variant-6 {
  background: #175e5e;
}
.style.turq.variant-7 {
  background: #134b4b;
}
.style.strikemaster.variant-0 {
  background: #969;
}
.style.strikemaster.variant-1 {
  background: #8b5d8b;
}
.style.strikemaster.variant-2 {
  background: #7d547d;
}
.style.strikemaster.variant-3 {
  background: #704a70;
}
.style.strikemaster.variant-4 {
  background: #624162;
}
.style.strikemaster.variant-5 {
  background: #543854;
}
.style.strikemaster.variant-6 {
  background: #462f46;
}
.style.strikemaster.variant-7 {
  background: #392639;
}
.style.crail.variant-0 {
  background: #c24747;
}
.style.crail.variant-1 {
  background: #b53c3c;
}
.style.crail.variant-2 {
  background: #a33636;
}
.style.crail.variant-3 {
  background: #913030;
}
.style.crail.variant-4 {
  background: #7f2a2a;
}
.style.crail.variant-5 {
  background: #6d2424;
}
.style.crail.variant-6 {
  background: #5c1e1e;
}
.style.crail.variant-7 {
  background: #4a1818;
}
.style.terracotta.variant-0 {
  background: #e2674a;
  color: #333;
}
.style.terracotta.variant-1 {
  background: #de5333;
}
.style.terracotta.variant-2 {
  background: #d44422;
}
.style.terracotta.variant-3 {
  background: #bd3c1e;
}
.style.terracotta.variant-4 {
  background: #a5351b;
}
.style.terracotta.variant-5 {
  background: #8e2e17;
}
.style.terracotta.variant-6 {
  background: #772613;
}
.style.terracotta.variant-7 {
  background: #601f0f;
}
.style.golden.variant-0 {
  background: #fc6;
  color: #333;
}
.style.golden.variant-1 {
  background: #ffc146;
  color: #333;
}
.style.golden.variant-2 {
  background: #ffb726;
  color: #333;
}
.style.golden.variant-3 {
  background: #ffac06;
}
.style.golden.variant-4 {
  background: #e49800;
}
.style.golden.variant-5 {
  background: #c48300;
}
.style.golden.variant-6 {
  background: #a46d00;
}
.style.golden.variant-7 {
  background: #845800;
}
.style.york.variant-0 {
  background: #9c9;
  color: #333;
}
.style.york.variant-1 {
  background: #84c184;
  color: #333;
}
.style.york.variant-2 {
  background: #6eb76e;
  color: #333;
}
.style.york.variant-3 {
  background: #59ac59;
}
.style.york.variant-4 {
  background: #4c984c;
}
.style.york.variant-5 {
  background: #418341;
}
.style.york.variant-6 {
  background: #376d37;
}
.style.york.variant-7 {
  background: #2c582c;
}
.style.patina.variant-0 {
  background: #699;
}
.style.patina.variant-1 {
  background: #5d8b8b;
}
.style.patina.variant-2 {
  background: #547d7d;
}
.style.patina.variant-3 {
  background: #4a7070;
}
.style.patina.variant-4 {
  background: #416262;
}
.style.patina.variant-5 {
  background: #385454;
}
.style.patina.variant-6 {
  background: #2f4646;
}
.style.patina.variant-7 {
  background: #263939;
}
.style.hopbush.variant-0 {
  background: #c69;
  color: #333;
}
.style.hopbush.variant-1 {
  background: #c5518b;
}
.style.hopbush.variant-2 {
  background: #bc3f7d;
}
.style.hopbush.variant-3 {
  background: #a83870;
}
.style.hopbush.variant-4 {
  background: #933162;
}
.style.hopbush.variant-5 {
  background: #7e2a54;
}
.style.hopbush.variant-6 {
  background: #6a2346;
}
.style.hopbush.variant-7 {
  background: #551c39;
}
.style.sea.variant-0 {
  background: #396;
}
.style.sea.variant-1 {
  background: #2e8b5d;
}
.style.sea.variant-2 {
  background: #2a7d54;
}
.style.sea.variant-3 {
  background: #25704a;
}
.style.sea.variant-4 {
  background: #216241;
}
.style.sea.variant-5 {
  background: #1c5438;
}
.style.sea.variant-6 {
  background: #17462f;
}
.style.sea.variant-7 {
  background: #133926;
}
.style.kimberly.variant-0 {
  background: #669;
}
.style.kimberly.variant-1 {
  background: #5d5d8b;
}
.style.kimberly.variant-2 {
  background: #54547d;
}
.style.kimberly.variant-3 {
  background: #4a4a70;
}
.style.kimberly.variant-4 {
  background: #414162;
}
.style.kimberly.variant-5 {
  background: #383854;
}
.style.kimberly.variant-6 {
  background: #2f2f46;
}
.style.kimberly.variant-7 {
  background: #262639;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url("../fonts/Lato-Hairline.woff") format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url("../fonts/Lato-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url("../fonts/Lato-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url("../fonts/Lato-Black.woff") format('woff');
}
@font-face {
  font-family: 'Entypo';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Entypo.woff") format('woff'), url("../fonts/Entypo.eot") format('eot'), url("../fonts/Entypo.ttf") format('truetype'), url("../fonts/Entypo.svg") format('svg');
}
@font-face {
  font-family: 'EntypoSocial';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/EntypoSocial.woff") format('woff'), url("../fonts/EntypoSocial.eot") format('eot'), url("../fonts/EntypoSocial.ttf") format('truetype'), url("../fonts/EntypoSocial.svg") format('svg');
}
html {
  height: 100%;
  font-size: 100%;
}
html:not(.detail) {
  overflow-y: hidden;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
:focus {
  outline: none !important;
}
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #f9f9f9;
  font-weight: 400;
  font-size: 1em;
  color: #333;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
#main {
  width: 90%;
  max-width: 76em;
  margin: 0 auto;
  padding: 0 1.875em 0 1.875em;
  position: relative;
}
.container {
  width: 100%;
  position: relative;
  background: #fff;
}
.container > header {
  width: 90%;
  max-width: 76em;
  margin: 0 auto;
  padding: 1.875em;
}
.container > header h1 {
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0;
  font-weight: 700;
  color: #333;
  float: left;
}
.container > header h1 span {
  display: block;
  font-size: 65%;
  font-weight: 300;
}
#top {
  line-height: 3.5;
  font-size: 0.688em;
  background: url("../img/irongrip.png");
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
}
#top a {
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: #fff;
  display: inline-block;
}
#top a:before {
  font-family: "EntypoSocial";
  display: inline-block;
  font-size: 2.5em;
  line-height: 1em;
  margin-right: 0.1em;
  margin-bottom: 0.21em;
  vertical-align: bottom;
}
#top a.github:before {
  content: "\F300";
}
#top a.behance:before {
  content: "\F34E";
}
#top a.linkedin:before {
  content: "\F318";
}
#top a:hover {
  background: rgba(255,255,255,0.1);
}
#top span.right {
  float: right;
}
#top span.right a {
  float: left;
  display: block;
}
#categories {
  float: right;
  padding-top: 0.625em;
}
#categories a {
  display: inline-block;
  margin: 0.625em;
  color: #666;
  font-weight: 700;
  font-size: 90%;
  line-height: 2;
  border-bottom: 4px solid transparent;
}
#categories a:hover {
  color: #000;
  border-color: #000;
}
#categories a.current,
#categories a.current:hover {
  color: #aaa;
  border-color: #aaa;
}
.support-note {
  clear: both;
}
.support-note span {
  color: #ac375d;
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 0.313em 0;
}
.rb-grid {
  text-align: center;
  margin: 0 auto;
}
.rb-grid > li {
  width: 24%;
  height: 7em;
  margin: 0 0.5% 1% 0.5%;
  color: #fff;
  display: block;
  float: left;
  padding: 1em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.rb-grid > li[class^="entypo-"]::before,
.rb-grid > li[class*=" entypo-"]::before {
  font-family: 'Entypo';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13em;
  line-height: 0.3em;
  opacity: 0.15;
}
.rb-grid > li.entypo-heart-empty::before {
  content: '\2661';
}
.rb-grid > li.entypo-graduation-cap::before {
  content: '\1F393';
}
.rb-grid > li.entypo-upload-cloud::before {
  content: '\E711';
}
.rb-grid > li.entypo-thumbs-down::before {
  content: '\1F44E';
}
.rb-grid > li.entypo-briefcase::before {
  content: '\1F4BC';
}
.rb-grid > li.entypo-bar-graph::before {
  content: '\1F4CA';
}
.rb-grid > li.entypo-light-bulb::before {
  content: '\1F4A1';
}
.rb-grid > li > a {
  background: inherit;
  text-decoration: none;
  color: inherit;
}
.rb-grid > li.disabled {
  cursor: default;
}
.rb-grid > li.span-2 {
  width: 49%;
}
.rb-grid > li.span-4 {
  width: 76%;
}
.rb-grid > li span.title {
  display: block;
  margin: 0 0 0.2em 0;
  font-size: 2em;
  font-weight: 400;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.rb-grid > li span.title.size-0 {
  font-size: 2em;
}
.rb-grid > li span.title.size-1 {
  font-size: 1.8em;
}
.rb-grid > li span.title.size-2 {
  font-size: 1.6em;
}
.rb-grid > li span.title.size-3 {
  font-size: 1.4em;
}
.rb-grid > li span.title.size-4 {
  font-size: 1.2em;
}
.rb-grid > li span.title.size-5 {
  font-size: 1em;
}
.rb-grid > li span.title.size-6 {
  font-size: 0.7999999999999998em;
}
.rb-grid > li span.title.size-7 {
  font-size: 0.5999999999999999em;
}
.rb-grid > li span.title.size-8 {
  font-size: 0.3999999999999999em;
}
.rb-grid > li span.title.size-9 {
  font-size: 0.19999999999999996em;
}
.rb-grid > li span.subtitle {
  display: block;
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
  opacity: 0.8;
}
.rb-grid > li[class^="icon-"]:before,
.rb-grid > li[class*=" icon-"]:before {
  font-size: 10em;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 3;
  opacity: 0.4;
  text-align: right;
  pointer-events: none;
}
.rb-grid > li:hover span.title {
  opacity: 1;
}
.rb-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease, clip 0.4s ease;
  -moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease, clip 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, clip 0.4s ease;
  z-index: -1;
  pointer-events: none;
  cursor: default;
}
.rb-close {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  width: 2em;
  height: 2em;
  text-indent: -9000px;
  cursor: pointer;
  z-index: 1000;
}
.rb-close::before {
  content: 'x';
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3em;
  line-height: 0.6;
  text-align: center;
  text-indent: 0px;
}
.rb-content {
  width: 100%;
  height: 100%;
  text-align: left;
  color: #fff;
}
.rb-content .wrap {
  width: 50%;
  margin: 4em;
  padding: 4em;
  background: rgba(0,0,0,0.8);
}
.rb-content h3 {
  font-size: 4em;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}
.rb-content p,
.rb-content ul,
.rb-content ol {
  line-height: 1.5em;
  margin-top: 1em;
}
.rb-content a {
  color: #fff;
  text-decoration: underline;
}
.rb-content a.github {
  font-size: 1.5em;
  text-align: middle;
  text-decoration: none;
}
.rb-content a.github:before {
  font-family: "EntypoSocial";
  content: "\f300";
  font-size: 2em;
  margin-right: 5px;
}
.rb-content img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}
.rb-content [class^="icon-"]:before {
  font-size: 2.5em;
  font-weight: normal;
}
.jspContainer {
  overflow: hidden;
  position: relative;
}
.jspContainer .jspPane {
  position: absolute;
  width: 100% !important;
  left: 0 !important;
}
.jspContainer .jspPane > * {
  padding-right: 23px;
}
.jspContainer:hover .jspVerticalBar {
  opacity: 1;
}
.jspContainer .jspVerticalBar {
  position: absolute;
  top: 0px;
  right: 1%;
  width: 9px;
  height: 100%;
  -webkit-transition: opacity 0.2s linear;
  z-index: 2;
}
.jspContainer .jspVerticalBar .jspCap {
  height: 5px;
  display: block;
}
.jspContainer .jspVerticalBar .jspTrack {
  background: rgba(242,242,242,0.5);
  box-shadow: inset 0 0 1px rgba(0,0,0,0.1), inset 1px 0 4px rgba(0,0,0,0.05);
  border-radius: 10px;
  position: relative;
}
.jspContainer .jspVerticalBar .jspTrack .jspDrag {
  background: rgba(57,57,57,0.2);
  position: relative;
  box-shadow: inset -1px 0 8px rgba(0,0,0,0.05);
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}
.jspContainer .jspCorner {
  background: #fff;
  float: left;
  height: 100%;
}
.rb-content .jspContainer .jspVerticalBar .jspTrack .jspDrag {
  background: #fff;
}
@media screen and (max-width: 63.125em) {
  .rb-grid li,
  .rb-grid li.span-2,
  .rb-grid li.span-4 {
    width: 100%;
    text-align: left;
  }
}
