{% extends 'page.html' %}

{% block content %}
  <article>
    <div id="post">
      <header>
        <h1>{{ title }}</h1>
      </header>

      <section class="body">
        {{ contents }}
      </section>

      <footer>
        <div class="date">{{ date }}</div>
      </footer>
    </div>

    <nav id="pagination">
      {% if previous %}
        <a class="right" href="/{{ previous.path }}">{{ previous.title }}</a>
      {% endif %}
      
      {% if next %}
        <a class="left" href="/{{ next.path }}">{{ next.title }}</a>
      {% endif %}
    </nav>

    {% if related %}
      <section id="related">
        <h2>Related articles</h2>
        {% include "posts.html" %}
      </section>
    {% endif %}
  <article>
{% endblock %}
