{% extends 'page.html' %}

{% block content %}
  <div id="results">
    <h1>Search Results</h1>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.2/lunr.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.min.js"></script>
  <script type="text/javascript" src="/assets/templates/posts.js"></script>
  <script type="text/javascript">
  $(function() {
    $.getJSON('/index.json', function(data) {
      var idx = lunr.Index.load(data.search);

      var el = $('#results');

      // Get the search term.
      var q = decodeURIComponent(location.search.split('&')[0].split('=')[1]).replace('-', ' ');

      // Search.
      var res = idx.search(q);
      if (!res.length) {
        el.append($('<p/>', { 'text': 'Sorry, nothing found' }));
      } else {
        // Convert results to posts.
        el.hide().append(nunjucks.render('posts.html', {
          posts: $.map(res, function(match) {
            var path = match.ref,
                obj = data.docs[match.ref];
            obj.path = path;
            return obj;
          })
        })).slideDown();
        // Update dates to time ago.
        fn.ago();
      }
    });
  });
  </script>
{% endblock %}
